# Практика
*Выполнила Кирьянова Дина, вариант 13*

### Задание 1

In [2]:
import numpy as np
import pandas as pd
ε = np.math.pow(10, -12)

#### Признак Лейбница

In [3]:
def Σ(x, S):
    n = 0
    sum = 0
    a = 1
    term = np.array([])
    while np.fabs(a) > ε:
        a = np.divide(np.math.pow(-1, n) * np.math.pow(x, n), np.math.factorial(n))
        term = np.append(term, a)
        sum += a
        n += 1
    return(sum, n, term)

#### По Кэхэну

In [4]:
def KahanSum(n, term):
    s = 0
    c = 0
    for i in range(n):
        y = term[i] - c
        t = s + y
        c = (t - s) - y
        s = t
    return s

#### Точка 1

In [5]:
x = 1
S = 1 / np.e
sum, n, term = Σ(x, S)
kahan_sum = KahanSum(n, term)
order_sum = np.sum(np.sort(term))
print(f'x = {x}, n = {n}\n    S = {S}')
print(f'  sum = {sum},  δ = {S - sum}')
print(f'order = {order_sum}, δ = {S - order_sum}')
print(f'Kahan = {kahan_sum},  δ = {S - kahan_sum}')

x = 1, n = 16
    S = 0.36787944117144233
  sum = 0.3678794411713973,  δ = 4.50195436485501e-14
order = 0.36787944117139704, δ = 4.529709940470639e-14
Kahan = 0.3678794411713972,  δ = 4.5130565951012613e-14

#### Точка 2

In [6]:
x = 10
S = 1 / np.math.pow(np.e, 10)
sum, n, term = Σ(x, S)
kahan_sum = KahanSum(n, term)
order_sum = np.sum(np.sort(term))
print(f'x = {x}, n = {n}\n    S = {S}')
print(f'  sum = {sum}, δ = {S - sum}')
print(f'order = {order_sum},  δ = {S - order_sum}')
print(f'Kahan = {kahan_sum},  δ = {S - kahan_sum}')

x = 10, n = 48
    S = 4.539992976248488e-05
  sum = 4.5399929366746555e-05, δ = 3.957383262775428e-13
order = 4.539993096841499e-05,  δ = -1.20593011081584e-12
Kahan = 4.539992936674656e-05,  δ = 3.9573831950127925e-13

### Задание 2

In [9]:
ε = np.math.pow(10, -8)
a = 0
b = 20
Δ = np.divide(b - a, 100)
ω = np.linspace(a, b, 100)

In [37]:
def J2(x):
    n = 0
    a = 1
    sum = 0
    while np.abs(a) > ε and n < 100:
        a = np.divide(np.math.pow(-1, n) * np.math.pow(x, 2*(n+1)), np.math.factorial(n) * np.math.factorial(n+2) * np.math.pow(4, n+1))
        sum += a
        n += 1
    return n, sum

In [58]:
df = pd.DataFrame(index=np.arange(100), columns=['x_i', 'n', 'sum_1', 'sum_2'])
for i in np.arange(100):
    df.loc[i] = [ω[i], J2(ω[i])[0], J2(ω[i])[1], 1]
#df.to_csv('data.csv')
df

          x_i   n     sum_1 sum_2
0         0.0   1       0.0     1
1     0.20202   4  0.005084     1
2     0.40404   4   0.02013     1
3    0.606061   5  0.044524     1
4    0.808081   5  0.077272     1
..        ...  ..       ...   ...
95  19.191919  32 -0.171811     1
96  19.393939  33 -0.179741     1
97   19.59596  33 -0.180394     1
98   19.79798  33 -0.173815     1
99       20.0  34 -0.160341     1

[100 rows x 4 columns]